# server configuration
PORT=8080
APP_URL=http://localhost:8080

# for docker
# DATABASE_URL=mysql://root:root@localhost:3306/ecommerce
# REDIS_URL=redis://localhost:6379
DATABASE_URL=
REDIS_URL=

# Email Provider (e.g. Brevo)
# deprecated use modules for get apikeys data
BREVO_API_KEY=
EMAIL_FROM=noreply@gmail.com

# Clave de encriptación para datos sensibles en DB
# Generar con: node -e "console.log(require('crypto').randomBytes(32).toString('hex'))"
ENCRYPTION_KEY=